// Imports
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');
// Colors
$black-mate:#242424;
$black:#1a1a1a;
$black-disabled:#504f4f;
$red:#F30B31;
$red-disabled:#f7667e;
$white: #fff;
// Fonts
$main-font:'Poppins', sans-serif;

// font-weight
$fw-light:200;
$fw-regular:400;
$fw-semibold:600;
$fw-bold:600;

// size
html{
    font-size: 62.5%;
}

// General configs
*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}

// Responsive
@mixin responsive($mobile){
    @media (max-width:$mobile){
        @content;
    }
}